@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input .MuiInputBase-root {
  height: 60px; /* Adjust input height */
}

.custom-popper_start .MuiPaper-root {
  position: absolute;
  top: -210px; /* Adjust popper positioning */
  width: 500px; /* Width of the popper */
  left: -60;
  height: 874px; /* Height of the popper */
  overflow-y: scroll; /* Add scrolling for overflow */
}

.custom-popper_end .MuiPaper-root {
  position: absolute;
  top: -280px; /* Adjust popper positioning */
  width: 500px; /* Width of the popper */
  left: -60;
  height: 874px; /* Height of the popper */
  overflow-y: auto; /* Add scrolling for overflow */
}

